<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body
    style="
      background-color: black;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100vw;
      height: 100vh;
      cursor: none;
  ">
    <div id="play-button" style="
      position: fixed;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: black;
      z-index: 999;
      cursor: default;
      width: 100vw;
      height: 100vh;
    ">
      <img src="./play.svg"/>
    </div>
    <canvas width=<%= screenSize.width %> height=<%= screenSize.height %> id="screen"></canvas>
    <style>
      @keyframes fade {
        from {opacity: 1;}
        to {opacity: 0;}
      }
      .fadeOut{
        animation-duration: 1.5s;
        animation-name: fade;
      }
      #screen{
        aspect-ratio: <%= screenSize.width %> / <%= screenSize.height %>;
        object-fit: contain;
        object-position: center;
        width: 100vw;
        height: 100vh;
        cursor: none;
      }
      #play-button img{
        height: 50vh;
        width: 50vw;
      }
      #play-button img:hover{
        filter: invert(1);
      }
    </style>
  </body>
</html>